@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте!</h1>
    <p>UI для работы с БД "каталог автомобилей"</a>.</p>
</div>
