@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте!</h1>
    <p>Здесь представлен UI для работы с БД "каталог автомобилей".</p>
    <a asp-page="Wehicles/Index">Пройдите по ссылке, чтобы посмотреть каталог автомобилей.</a>
</div>
